<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\MAIPT.PM.Api.exe"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ConnectionStrings__SqlServer" value="Server=db64317.databaseasp.net;Database=db64317;User Id=db64317;Password=Khongnho@0102;Encrypt=False;MultipleActiveResultSets=True;Connect Timeout=60" />
          <environmentVariable name="DB_PROVIDER" value="sqlserver" />
          <environmentVariable name="MPMS_CLIENT_ID" value="6adce14d-a2b2-4427-a9d6-77f5b8b4b215" />
          <environmentVariable name="MPMS_CLIENT_SECRET" value="rUJ8Q~c5jTq2RsxXEzOYTHTLEhAWjpwnIQ5ZUbRs" />
          <environmentVariable name="MPMS_M365_CLIENT_ID" value="6adce14d-a2b2-4427-a9d6-77f5b8b4b215" />
          <environmentVariable name="MPMS_M365_CLIENT_SECRET" value="rUJ8Q~c5jTq2RsxXEzOYTHTLEhAWjpwnIQ5ZUbRs" />
          <environmentVariable name="MPMS_M365_TENANT_ID" value="c0b8ddae-1b7a-4db2-9b73-302bc7cc0bb4" />
          <environmentVariable name="MPMS_MAIL_FROM" value="maipt@maipt.org" />
          <environmentVariable name="MPMS_PUBLIC_URL" value="https://maipt.runasp.net/" />
          <environmentVariable name="MPMS_TENANT_ID" value="c0b8ddae-1b7a-4db2-9b73-302bc7cc0bb4" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
